In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('datasets/gender-purchase/Gender Purchase.csv')

In [4]:
data.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [5]:
data.shape[0]

511

In [6]:
contingence_table = pd.crosstab(data["Gender"], data["Purchase"])
contingence_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [7]:
contingence_table.sum(axis=1)

Gender
Female    265
Male      246
dtype: int64

In [8]:
contingence_table.sum(axis=0)

Purchase
No     231
Yes    280
dtype: int64

In [9]:
contingence_table.astype("float").div(contingence_table.sum(axis=1), axis=0)

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

In [11]:
contingence_table.astype("float").div(contingence_table.sum(axis=0), axis=1)

Purchase        No       Yes
Gender
Female    0.458874  0.567857
Male      0.541126  0.432143

## Probabilidad condicional

In [13]:
from IPython.display import display, Math, Latex

In [17]:
display(Math(r'P(Purchase|Male) = \frac{Numero\ total\ de\ compras\ hechas\ por\ hombres}{Numero\ total\ de\ hombres\ del\ grupo} = \frac{Purchase\cap Male}{Male}'))

In [19]:
str(121/246*100)+"%"

'49.1869918699187%'

In [22]:
display(Math(r'P(No\ Purchase|Male) = 1 - P(Purchase|Male)'))

In [20]:
display(Math(r'P(Female|Purchase) = \frac{Numero\ total\ de\ compras\ hechas\ por\ mujeres}{Numero\ total\ de\ compras} = \frac{Female\cap Purchase}{Purchase}'))

In [21]:
str(159/280*100)+"%"

'56.785714285714285%'

In [24]:
display(Math(r'P(Male|Purchase)'))
str(121/280*100)+"%"

'43.214285714285715%'